# -------------------------------
# hanabi-conventions-issues stuff
# -------------------------------

# Binary
hanabi-conventions-issues

# Contains secrets
.env
GitHub_private_key.pem

# Log files
logs/*.log*

# MacOS artifacts
.DS_Store

# --------------------------
# GitHub .gitignore Template
# --------------------------

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
